<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>QuickStart</title>
	</head>
	<body>
	  
		<h1>Quickstart</h1>
		<h2> Welcome [[${user.username}]]</h2>
		
		<a th:href="@{/quickstartform}">Create a Posting for your project!!</a>
		<a th:href="@{/userEdit}">Edit User information!</a>
		
		<div style="border-style: solid;">
			
			<div th:each="projects: ${allprojects}">
				User: [[${projects.user.username}]] <br/>
    			Project Name: [[${projects.projectname}]] <br/>
    			Description: <br>
    			[[${projects.description}]]
    			<hr/>
			</div>
			
		</div>
		
	<form method="post" action="/logout">
		<input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		<button type="submit">Logout</button>
	</form>
	
	</body>
</html>