<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>projectslist</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
	  
		<h1>List of projects</h1>
		
		<div class="container">	
			<div th:each="projects: ${projectsL}">
				User: [[${projects.user.username}]] <br/>
				Email: 	[[${projects.user.email}]] <br/>
				date of post: 	[[${projects.date}]] <br/>
    			Project Name: [[${projects.projectname}]] <br/>
    			Description: <br>
    			[[${projects.description}]]
    			<br>
    			<a th:href="@{/editProject/{projectid}(projectid=${projects.id})}">Edit</a>
    			
    			<div th:each="prospectpeople: ${projects.prospectpeople}" style="border-style: solid;">
    			<h3>Requests:</h3>
    			
    			userEmail: [[${prospectpeople.useremail}]] <br/>
    			message: [[${prospectpeople.message}]]
    			<a th:href="@{/deleteProspect/{id}(id=${prospectpeople.id})}">delete</a>
    			<hr/>
    			</div>
    			
    			<form method="post" th:action="@{/deleteProject/{projectid}(projectid=${projects.id})}">
					<input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<button type="submit">Delete</button>
				</form>
				<hr/>
			</div>
			
		</div>
		
	<a th:href="@{/dashboard}">go back to dashboard</a>
	</body>
</html>